.Input {
  position: relative;
  .InputInner {
    position: relative;
    input {
      font-size: 16px;
      font-weight: 300;
      color: $text-primary;
      background-color: $system-field;
      border: 2px solid $system-field;
      padding: 14px 24px;
      width: 100%;
      height: 54px;
      border-radius: 35px;
      &.error {
        border-color: $system-error;
      }
      &.regular {
        border-color: $system-field;
      }
      &::placeholder {
        color: $text-tertiary;
      }
      &:focus,
      &:active {
        color: $text-primary;
        background-color: $background-light;
        border-color: $teal-primary;
        outline: 0;
        box-shadow: 0 0 0 0.2px rgb(124 182 196 / 100%);
        // box-shadow: rgb(124, 182, 196);
      }
      &:disabled{
        cursor: not-allowed;
      }
    }

    button {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      padding: 0px 30px;
      border: none;
      background: transparent;
    }
  }
  .Message {
    font-weight: 400;
    width: 100%;
    display: block;
    text-align: right;
    padding-right: 5px;
    font-size: 14px;
    color: $system-error;
  }
}
