@tailwind base;
@tailwind components;
@tailwind utilities;

.rotate-icon {
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

thead tr th:first-child,
tr td:first-child {
  padding-left: 2rem;
}

thead tr th:last-child,
tr td:last-child {
  padding-right: 2rem;
}

.status-pending {
  background: #544a01;
  color: #ffe525;
}

.status-cancelled {
  background: #1f0501;
  color: #eb5033;
}

.status-completed {
  background: #094301;
  color: #41c82e;
}

@layer components {
  button {
    border-color: transparent;
  }
  .no-border {
    border: none !important;
  }

  .modal-overlay {
    @apply fixed justify-end top-0 left-0 w-full h-full flex items-center bg-black bg-opacity-30;
  }
  .modal-content {
    @apply bg-black py-3 rounded-md h-full w-full max-w-[30rem] overflow-y-scroll;
  }

  .modal-header {
    @apply flex justify-end;
  }

  .close-button {
    @apply cursor-pointer text-base font-bold;
  }

  .orders-table-head {
    @apply text-center border-b border-secondary-border;
  }

  .active-main-tab {
    @apply before:border-b before:border-b-orange-500 after:border-b after:border-b-orange-500 data-[state=active]:rounded-none data-[state=active]:border-b data-[state=active]:border-b-orange-500;
  }
  .active-sub-tab {
    @apply data-[state=active]:bg-white data-[state=active]:text-black;
  }

  .active-order-tab {
    @apply data-[state=active]:text-[#8BAE22];
  }
  .transparent-btn {
    @apply border-secondary-transparent-border border px-2 rounded-xl flex gap-x-2;
  }

  .authcard1 {
    @apply min-h-[37rem] h-screen w-screen;
  }
  .authcard2 {
    @apply h-full w-full m-auto;
  }
  .authcard3 {
    @apply bg-secondary-dark md:py-16 py-8 md:px-14 px-7 h-full w-full;
  }
  .authcard4 {
    @apply flex justify-center w-full h-full;
  }
  .authcard5 {
    @apply bg-primary-dark md:w-1/2 w-full md:rounded-l-xl md:rounded-none rounded-xl md:py-0 py-6 md:px-0 px-2 flex flex-col self-center m-auto h-full items-center;
  }
  .authcard5a {
    @apply md:m-auto m-0 max-w-[23rem];
  }
  .authcard6 {
    @apply md:w-1/2 w-0;
  }
  .authbtn {
    @apply my-4 py-1 rounded-md w-full bg-primary-green hover:bg-[#86a820] text-black;
  }
  .authimg1 {
    @apply w-48 h-12 mb-12;
  }
  .authimg2 {
    @apply lg:w-48 w-32 lg:h-12 sm:h-10 h-8 mb-12;
  }
  .authimg3 {
    @apply h-full w-full rounded-r-xl;
  }
}
@layer base {
  :root {
    --background: 0 0% 15%;
    --foreground: 0 0% 3.9%;

    --secondary-border: 0 0% 64.7%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 15%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  /* * {
    @apply border-border;
  } */
  body {
    @apply bg-background text-foreground;
  }
}
