// Widths
$break-width-laptop: 1313px;
$break-width-tablet: 850px; //1270px;
$break-width-mobile: 680px;

// Backgrounds
$background-light: #FFFFFF;
$background-dark: #F7F7F7;

// Pinks
$pink-primary: #FF5E90;
$pink-secondary: #FFF0F5;

// Greyscale
$text-white: #FFFFFF;
$text-primary: #2F2F2F;
$text-secondary: #000000;
$text-tertiary: #A8A7A7;

// System
$system-error: #F86B6B;
$system-error-hover: #dd6161;
$system-disabled: #CDCDCD;
$system-field: #F8F8F8; 

// Teal
$teal-primary: #7CB6C4;
$teal-secondary: #E0F2F7;
$teal-overlay: #6D7374;
$teal-hover: #578894;

// Placeholder
$placeholder: #D9D9D9;